@import 'google-homepage';

body{
  background:white;
}

#stage {
    background: white;
}


// First Frame
.a {
    transform: translateY(50px);
    height: 0px;
    
}

.b {
    transform: translateY(50px);
    height: 85px;
}

.c {
    transform: translateY(50px)
    height: 85px;
}


.d {
    transform: translateY(50px);
  height: 95px;
  
}

.e {
 transform: translateY(50px) translateX(-300x);
    height: 180px;
}
.f {
  transform: translateY(50px);
  height: 95px;

}
