// Grand Central Station

// Grand Central Station

@import 'google-homepage';
body {
    background: white;
}

#stage {
    background: white;
}


// First Frame
.G {
    transform: translateY(-50px);
    height: 85px;
    
}

.O {
    transform: translateY(-180px);
    height: 85px;
}

.O2 {
    transform: translateY(-180px);
    height: 90px;
}


.g2 {
    transform: translateX(-160px);
    height: 100px;
}

.l {
    transform: translateY(-200px)
    height: 100px;
}

