// Grand Central Station

@import 'google-homepage';
#stage {
  background:grey;
}

// First Frame
.G{
    opacity: .9;
    transform: scale(.35) rotate(0);
    width: 40%;
    
    transition: transform .9s;
}

// Last Frame
img:hover {
    opacity: 5;
    transform: scale(1.5) rotate(360deg);
}

// First Frame
.G {
transform: translateY(65px) translateX(-350px);
}

// Last Frame
.line:hover {
    stroke: red;
}

